/doc/manual.aux
/doc/manual.dvi
/doc/manual.example-1.tst
/doc/manual.example-3.tst
/doc/manual.idx
/doc/manual.ilg
/doc/manual.ind
/doc/manual.lab
/doc/manual.log
/doc/manual.pdf
/doc/manual.six
/doc/manual.toc

/htm/

/gh-pages/
/tmp/
