doc/*.aux
doc/*.bbl
doc/*.bib
doc/*.blg
doc/*.brf
doc/*.css
doc/*.html
doc/*.idx
doc/*.ilg
doc/*.ind
doc/*.js
doc/*.lab
doc/*.log
doc/*.out
doc/*.pdf
doc/*.pnr
doc/*.six
doc/*.tex
doc/*.toc
doc/*.txt
doc/main.xml
doc/title.xml

/Makefile
/bin/
/gh-pages/
/tmp/
